@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);/* COLOR SCHEME
PRIMARY COLOR: #2a2f89; 
SECONDARY COLOR: #0056AB;
*/
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    overflow-x: hidden;
    color: #484848;
}

#navbar-container {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* TOP NAVBAR */
.navbar-toggler i {
    color: #2a2f89;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}

.search-btn {
    border: none;
    background-color: #2a2f89;
}

.search-btn:hover {
    border: 1px solid #2a2f89;
    color: #2a2f89;
    background-color: #fff;
}

.top-nav-icons,
.member-login i {
    color: #2a2f89;
}

.top-nav-icons:hover,
.member-login i:hover {
    color: #0056AB;
}

/* SECOND NAV */
.second-nav-tabs .nav-link {
    color: #2a2f89;
    font-size: 1rem;
    font-weight: 600;
}

.sub-menu-list .list-group-item {
    border: none;
    margin-left: 1rem;
}

.sub-menu-list .list-group-item a {
    text-decoration: none;
    color: #2a2f89;
    font-size: 1rem;
    font-weight: 400;
}

.second-nav-tabs a:hover,
.sub-menu-list .list-group-item a:hover {
    color: #0056AB;
}

@media (min-width: 992px) {
    .navbar-menu li {
        position: relative;
    }

    .navbar-menu .sub-menu ul {
        display: block;
        position: absolute;
        z-index: 99;
        visibility: hidden;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
        border-top: 4px solid #2a2f89;
        background: #fff;
        transition: 0.5ms;
    }

    .navbar-menu .sub-menu ul li {
        min-width: 200px;
    }

    .navbar-menu .sub-menu:hover>ul {
        visibility: visible;
    }

    .sub-menu-list .list-group-item {
        margin-left: 0rem;
    }
}


/* INDEX PAGE */
.homepage {
    background-image: linear-gradient(rgba(27, 47, 69, 0.6), rgba(27, 47, 69, 0.6)), url('/img/landing-page-img.jpg');
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.landing-page-content {
    text-align: center;
}


@media (min-width: 768px) {
    .homepage {
        height: 60vh;
    }

    .landing-page-content {
        text-align: left;
    }

}

.landing-page-content h1 {
    font-size: 2.5rem;
    color: #fff;
    max-width: 700px;
    font-weight: 700;
}

.landing-page-content p {
    font-size: 1rem;
    color: #fff;
    max-width: 550px;
    font-weight: 400;
}

.landing-page-content a {
    background-color: #2a2f89;
    color: #fff;
}

.landing-page-content a:hover {
    background-color: #0056AB;
    color: #fff;
}

.feature-section {
    margin-top: 1rem;
}

.feature-section .card {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.feature-section-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-section-icon .fa-stack .fa-circle {
    color: #2a2f89;
}


.feature-section-content {
    margin-left: 12px;
    text-align: justify;
}

.feature-section-content h5 {
    color: #2a2f89;
    font-weight: 600;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .feature-section {
        margin-top: -5rem;
    }
}

@media (max-width:992px) and (min-width: 768px) {
    .feature-section-body {
        flex-direction: column;
    }

    .feature-section-content {
        margin-top: 1rem;
    }

}

.about-us-quick-card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0.8rem;
}


.about-us-quick-card i {
    color: #0077BC;
    padding-right: 20px;
    font-size: 2rem;
}

.about-us-quick-left h2 {
    color: #2a2f89;
    font-weight: 600;
}

.about-us-quick-left p {
    text-align: justify;
}

.about-us-quick-card-content h5 {
    font-weight: 600;
    color: #2a2f89
}

.about-us-quick-card-content h5,
.about-us-quick-card-content p {
    margin: 0;
    padding: 0;
}





/* BREADCRUMB CONTAINER */
.breadcrumb-custom {
    height: 25vh;
}

.breadcrumb-custom .container {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.breadcrumb-custom .container h1 {
    font-weight: 500;
    color: #fff;
}

.breadcrumb-custom .container h1 span {
    font-weight: 700;
    color: #0077BC;
}

.breadcrumb-custom .container p {
    color: #fff;
    font-size: 1.5rem;
    max-width: 800px;
    text-align: center;
}

.breadcrumb-custom-list li a {
    color: #fff;
    text-decoration: none;
}

.breadcrumb-custom-list .active {
    color: #fff;
    font-weight: 700;
}

#breadcrumb-img {
    background-attachment: static;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
}

.sidebar-heading {
    color: #fff;
    background-color: #0056AB !important;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#sidebar-wrapper .list-group a:hover {
    color: #0056AB;
}

#sidebar-wrapper .list-group .active {
    color: #484848;
    background-color: transparent;
    border-left: 4px solid #0056AB;
    border-bottom-color: rgba(0, 0, 0, .125) !important;
    border-top-color: rgba(0, 0, 0, .125) !important;
}

#sidebarToggle i {
    color: #0056AB;
}

#sidebarToggle:focus {
    outline: none;
    box-shadow: none;
}

.custom-breadcrumb .breadcrumb .breadcrumb-item a {
    text-decoration: none;
    color: #2a2f89;
}

.custom-breadcrumb .breadcrumb .breadcrumb-item a:hover {
    color: #0056AB;
}



body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: -15rem;
    }
}

/* WHAT IS AGIA */

.about-us-content {
    font-size: 1.1rem;
    font-weight: 400;
    text-align: justify;
}

/* The actual timeline (the vertical ruler) */
.main-timeline {
    position: relative;
}

/* The actual timeline (the vertical ruler) */
.main-timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #0077BC;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.timeline {
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.timeline::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: #0077BC;
    border: 5px solid #0056AB;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    padding: 0px 40px 20px 0px;
    left: 0;
}

/* Place the container to the right */
.right {
    padding: 0px 0px 20px 40px;
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -12px;
}

.timeline .card .card-body {
    text-align: justify;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .main-timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .timeline {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .timeline::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 18px;
    }

    .left::before {
        right: auto;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

/* Vision and Mission */
.vision-mission-card {
    text-align: center;
}

.vision-mission-card .fa-stack .fa-circle {
    color: #2a2f89;
}

.vision-mission-card .fa-stack {
    margin-bottom: 1rem;
}

.strategy-map-card .card-text span {
    font-size: 0.8rem;
}

.officers-card .card-body h5 {
    color: #2a2f89;
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.officers-card .card-body .job-position {
    color: #0056AB;
    font-weight: 600;
    font-size: 0.9rem;
}

.officers-card .card-body .personal-details {
    font-size: 0.8rem;
}

/* Membership Section */
.btn-membership {
    background-color: #2a2f89;
    color: white;
}

.btn-membership:hover {
    background-color: #0056AB;
    color: white;
}

.btn-membership:focus {
    box-shadow: none;
}


/* Laws and Issuance Section */
.laws-issuances-container {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.laws-issuances-card {
    display: flex;
    align-items: center;
}

.laws-issuances-card .laws-issuances-file a {
    text-decoration: none !important;
    color: #484848;
}


.laws-issuances-subject {
    text-align: justify;
    font-weight: 500;
}

.laws-issuances-subject span {
    text-align: justify;
    font-weight: 400;
}


/*Login Section */

.login-page-container {
    min-height: 70vh;
}

.input-form {
    position: relative;
    display: inline-block;
}


.input-form input {
    border: 0;
    border-bottom: 1px solid #dedede;
    background-color: transparent;
    box-shadow: none !important;
}

.input-form i {
    position: absolute;
    font-size: 20px;
    color: #dedede;
    margin: 7px 0px 7px 20px;
}

.input-form input:focus {
    border-color: #2a2f89;
    border-width: 2px;
    box-shadow: none !important;
}

.input-form input:focus+i {
    color: #2a2f89;
}

.box-input-form {
    padding-left: 50px !important;
}

.pw-link {
    text-align: end;
    color: #2a2f89;
    text-decoration: none;
    font-weight: 500;
}

.login-page-bg {

    background-image: linear-gradient(rgba(27, 47, 69, 0.6), rgba(27, 47, 69, 0.6)), url('/img/login-page-img.jpg');
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}



/*Contact Us Section */

.card-contact-us {
    border: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
}

.card-contact-us .card-body h6 {
    text-transform: uppercase;
    font-weight: 700;
    color: #2a2f89;
}

.card-contact-us .card-body .link a {
    text-decoration: none;
    font-weight: 700;
    color: #484848 !important;
}

.btn-contact-us {
    background-color: #2a2f89;
    color: #fff;
}


/* Small devices (below 576px) */
@media (max-width: 576px) {}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}